<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- Permissão de leitura e gravação em armazenamento externo para Android 8 a 10 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Permissão para gerenciar todos os arquivos para Android 11 e superior -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnalyTree_Plus"
        tools:targetApi="31">
        <activity
            android:name=".view.ViewSeedlingActivity"
            android:exported="false" />
        <activity
            android:name=".view.AddSeedlingActivity"
            android:exported="false" />
        <activity
            android:name=".view.PortionSelectedActivity"
            android:exported="false" />
        <activity
            android:name=".view.AddPortionActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.EditPortionActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>